body {
    font-family: Arial, sans-serif;
    background-color: #726a7c;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1824;
    padding: 10px 20px;
}

header .logo img {
    height: 50px;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1824;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    font-size: 13px;
    font-family: 'Lexend Exa', sans-serif;
    color: #fff;
    padding: 10px 8px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}

nav ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #ff9e0d; 
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

nav ul li a:hover::before {
    width: 100%;
}

nav ul li a:hover {
    color: #ff9e0d; 
}


nav ul li a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 158, 13, 0.1); 
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: -1;
}

nav ul li a:hover::after {
    opacity: 1;
}
.about-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
}

.about-content {
    max-width: 600px;
    flex: 1;
    text-align: justify;
}

.about-content h2 {
    color: #e87c4c;
}

.about-content p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    margin-top: 1px;
}

.about-image img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #1f1824;
    color: #fff;
    padding: 40px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}

.footer-nav, .footer-contact, .footer-social,  .footer-contact-form {
    flex: 1;
    min-width: 200px;
    margin: 20px;
}

.footer-nav h4, .footer-contact h4, .footer-social h4, .footer-contact-form h4 {
    font-size: 30px;
    margin-bottom: 15px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav ul li {
    margin-bottom: 10px;
}

.footer-nav ul li a {
    color:#c2c7cc;
    text-decoration: none;
}
.footer-nav ul li a:hover {
    background-color:#e87c4c;
}
.footer-contact-form form {
    display: flex;
    flex-direction: column;
}
.footer-contact-form input[type="email"],
.footer-contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.footer-contact-form button {
    padding: 10px;
    background-color: #e87c4c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.footer-contact-form button:hover {
    background-color:#e87c4c;
}
.footer-contact p, .footer-contact a {
    color: #fff;
    margin: 5px 0;
}

.footer-social .social-icons {
    display: flex;
    margin-top: 10px;
}

.footer-social .social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s, transform 0.3s;
    position: relative;
    display: inline-block;
}



.footer-bottom {
    border-top: 1px solid #333;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}
.footer-bottom p {
    margin: 10px 0;
    color: #fff;
    font-size: 14px;
}

.footer-bottom p a {
    color: #e87c4c;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bottom p a:hover {
    color: #fff;
}


footer .social-icons a:hover {
    color: #e87c4c;
    transform: scale(1.2);
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .about-page {
        flex-direction: column;
        padding: 20px;
    }

    .about-content, .about-image {
        max-width: 100%;
    }

    footer .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

